@layer reset, base, components;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }
}

@layer base {
  body {
    min-height: 100vh;
    width: 100%;
  }
}
@layer components {
  .btn {
    background-color: transparent;
    border: none;
    outline: none;
  }
}
