@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bubble-text {
    --_fw-900: 600;
    --_fw-700: 500;
    --_fw-400: 400;

    --_clr-900: hsl(0, 0%, 10%);
    --ease: linear(
      0 0%,
      0.0036 9.62%,
      0.0185 16.66%,
      0.0489 23.03%,
      0.0962 28.86%,
      0.1705 34.93%,
      0.269 40.66%,
      0.3867 45.89%,
      0.5833 52.95%,
      0.683 57.05%,
      0.7829 62.14%,
      0.8621 67.46%,
      0.8991 70.68%,
      0.9299 74.03%,
      0.9545 77.52%,
      0.9735 81.21%,
      0.9865 85%,
      0.9949 89.15%,
      1 100%
    );

    font-size: clamp(2rem, calc(2rem + 3.5vw), 8rem);
    color: hsl(0, 0%, 50%);
    user-select: none;

    &.split-text {
      display: inline-flex;
    }

    & .split-char {
      font-weight: 200;
      color: var(--_clr-900);
      transition: font-weight 0.15s var(--ease);

      &:hover {
        font-weight: var(--_fw-900);
      }

      /* // right side */
      &:hover + .split-char {
        font-weight: var(--_fw-700);
      }
      &:hover + .split-char + .split-char {
        font-weight: var(--_fw-400);
      }

      /* // left side */
      &:has(+ .split-char:hover) {
        font-weight: var(--_fw-700);
      }
      &:has(+ .split-char + .split-char:hover) {
        font-weight: var(--_fw-400);
      }
    }
  }
}
